.curpage{
    font-weight: bold;
} 
.breadcrumb {
	padding: 0px;
}
.logo{
	background-image: url('../../img/logo-edumu.png');
	background-size: 180px;
	background-repeat: no-repeat !important;
	height: 100px;
	margin: 10px 5px;
}

